{% extends 'store/base.html' %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h2 class="text-center mb-0">Contact Us</h2>
                </div>
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col-md-6">
                            <h4>Get in Touch</h4>
                            <p>If you have any questions about our products or services, please don't hesitate to contact us.</p>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-envelope mr-2"></i> Email: <a href="mailto:mungb.pro@gmail.com">mungb.pro@gmail.com</a></li>
                                <li><i class="fa fa-phone mr-2"></i> Phone: +1 (555) 123-4567</li>
                                <li><i class="fa fa-map-marker mr-2"></i> Address: 123 Commerce St, Boston, MA</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h4>Business Hours</h4>
                            <ul class="list-unstyled">
                                <li>Monday - Friday: 9:00 AM - 6:00 PM</li>
                                <li>Saturday: 10:00 AM - 4:00 PM</li>
                                <li>Sunday: Closed</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
